@*<a href="/Message/NewMessageDraft/" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Taslaklara Kaydet</a>*@

<button type="button" class="btn btn-danger"><i class="fas fa-pencil-alt"> Taslaklara Kaydet</i></button>

@using (Html.BeginForm("NewMessageDraft", "Message", FormMethod.Post))
{

}

