@model EntitiyLayer.Concreate.Writer

@using (Html.BeginForm("WriterLoginAsync", "Writer", FormMethod.Post))
{
    <div class="login px-4 mx-auto mw-100">
        <h5 class="text-center mb-4">Yazar Girişi</h5>
        <form action="#" method="post">
            <div style="text-align:center">
            </div>
            <div class="form-group">
                <label class="mb-2">Yazar Kullanıcı Adı</label>
                @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control", @id = "exampleInputEmail1" })
                @*<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">*@
            </div>
            <div class="form-group">
                <label class="mb-2">Şifre</label>
                @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control", @type = "password", @id = "exampleInputPassword1" })
                @*<input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">*@
            </div>
            <div class="form-check mb-2">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
            </div>
            <div style="margin-left:50px" class="g-recaptcha" data-sitekey="6LfCEZcgAAAAALeg-yz21bSYYMMyMKDOkV2Tcdbg"></div>
            <div style="text-align:center">
                <button type="submit" class="btn btn-primary submit mb-4">Giriş Yap</button><br />
                <label>Ya Da</label><br />
                <button type="button" class="btn btn-primary submit mb-4" data-toggle="modal" data-target="#writerSignupModal">
                    Kayıt Ol
                </button>
            </div>
        </form>
    </div>
}
<script src="https://www.google.com/recaptcha/api.js"></script>
